.btn {
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .3rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: none;
    margin: 0;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
